/* presets */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: montserrat;
    color: #222939;
}

p{
    font-size: 16px;
    color: #222939;
    font-weight: 600;
    line-height: 2;
}

.btn{
    color: #fff;
    background-color: #8144e5;
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    transition: .5s;
}

.btn:hover{
    background-color: #7431E2;
    box-shadow: #7531e231 1px 1px 3px 2px;
    transition: .5s;
}

.container{
    padding: 0 calc((100% - 1200px) / 2);
}

.title{
    font-size: 32px;
    font-weight: 900;
}

/* End presets*/

/* Estilizando  a primeira secção*/
    /* Estilizando a navegação*/

.cabecalho-container{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;

}

.cabecalho-menu{
    display: flex;
    justify-content: space-evenly;
}

.cabecalho_menu-item{
    list-style: none;
}

.cabecalho_menu-item a{
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .7;
    color: #222939;
}

.cabecalho-nav{
    width: 60%;
}

.cabecalho-logo{
  
}

.cabecalho-cta{
    width: 15%;
}

.cabecalho_cta-links{
    display: flex;
    justify-content: space-between;
}

.first-container{
    background-color: #F7FAFF;
}

.cabecalho_menu-item-cta a{
    color: #fff;
    background-color: #8144e5;
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    transition: .5s;
}

.cabecalho_menu-item-cta a:hover{
    background-color: #7431E2;
    box-shadow: #7531e231 1px 1px 3px 2px;
    transition: .5s;
}

.cabecalho_menu-item-cta{
    list-style: none;
}

    /* Estilizando a navegação end*/

    /* Estilizando o texto e img do hero*/

.hero{
    display: flex;
    padding-top: 150px;
    justify-content: space-between;
}

.hero-text{
    width: 48%;
}

.hero-img{
    width: 52%;
}


.hero-img img{
    margin-top: -170px;
    width: 100%;

}

.hero-title{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 40px;
}

.title-roxo{
    color: #8144e5;
    text-decoration: underline;
}

.hero-paragraph{
    margin-bottom: 35px;
}

.btn-submit{
    border: none;
    margin-left: -15px;
    padding: 25px 40px;
    border-radius: 10px;
    width: 30%;
}
.btn-submit:hover{
    cursor: pointer;
}
.input-email{
    width: 50%;
    border: #ccc solid 1px;
    box-shadow: #7531e231 1px 1px 15px 2px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    padding: 25px 20px;
}

.hero-form input{
    margin-bottom: 25px;
}

.input-email:focus{
    border-color: rgb(56, 152, 236);
    outline: 0;
}

.card-request{
    display: flex;
}

.card-text{
    margin-left: 6px;
    font-weight: 600;
    font-size: 13px;
    color: #6C717D;
}

    /* Estilizando o texto e img do hero end*/

    /* Estilizando a secção dos logos*/

.brands{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    padding-bottom: 50px;

}

.brands-list{
    display: flex;
}

.brands_list-item{
    list-style: none;
}

.brands_list-item img{
    width: 180px;
}

.brands-title{
    font-weight: 900;

}
    /* Estilizando a secção dos logos end*/
/* Estilizando  a primeira secção end*/

/* Estilizando a segunda secção*/

.second-section{
    padding-top: 100px;
    padding-bottom: 100px;
}

.second_section-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
}

.last-content{
    margin-bottom: 0;
}

.second_section-title{

}

.second_section-img{
    width: 50%;
}

.second_section-img img{
    width: 100%;
}

.second_section-text{
    width: 50%;
}

.second_section-text p{
    margin: 15px 0;
}

.second_section-link{
    color: #7938E3;
    font-weight: 600;
    background-image: url(../img/seta.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 25px;
    padding-right: 30px;
}

/* Estilizando a segunda secção end*/

/* Estilizando a segunda secção*/

.third-section{
    background-color: #F7FAFF;
    padding-top: 100px;
    padding-bottom: 100px;
}

.drop-process{
    background-color: #fff;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 1px #363f4e4b;
}

.drop_process-title{
    text-align: center;
    margin-bottom: 50px;
}

.drop_process-img-title{
    grid-column: span 2;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.drop_process-img-title img{
    position: absolute;
    right: auto;
    left: auto;
    bottom: 10px;

}


.drop_process-list{
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}

.drop_process-list li{
    list-style: none;
    font-size: 14px;
    font-weight: 900;
    width: 200px;
}

.drop_process-title{
    font-size: 32px;
    font-weight: 900;
}

.drop_process-list li img{
    width: 150px;
}

/* Estilizando a segunda secção end*/

/* Estilizando a quarta secção*/

.fourth-section{
    padding-top: 100px;
    padding-bottom: 100px;
}

.drop_title{
    text-align: center;
    margin-bottom: 30px;
}

.text-destaque{
    color: #8144e5;
    text-decoration: underline;
}

.drop_text{
    text-align: left;
    color: #6f7582;
    line-height: 24px;
    margin-top: 10px;
}
/* Estilizando a quarta secção end*/



