/* presets */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: montserrat;
    color: #222939;
}

p{
    font-size: 16px;
    color: #222939;
    font-weight: 600;
    line-height: 2;
}

.btn{
    color: #fff;
    background-color: #8144e5;
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    transition: .5s;
}

.btn:hover{
    background-color: #7431E2;
    box-shadow: #7531e204 1px 1px 3px 2px;
    transition: .5s;
}

.container{
    padding: 0 calc((100% - 1150px) / 2);
}

.title{
    font-size: 32px;
    font-weight: 900;
}

.botao{
    color: #fff;
    background-color: #8144e5;   
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    transition: .5s;
    border: none;
}

.botao:hover{
    background-color: #7431E2;
    box-shadow: #7531e231 1px 1px 3px 2px;
    transition: .5s;
}

/* End presets*/

/* Estilizando  a primeira secção*/
    /* Estilizando a navegação*/

.cabecalho-container{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    position: fixed;
    background-color: #fff;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid #7431E2;
    z-index: 1;

}

.cabecalho-menu{
    display: flex;
    justify-content: space-evenly;
}

.cabecalho_menu-item{
    list-style: none;
}

.cabecalho_menu-item a{
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .7;
    color: #222939;
}

.cabecalho-nav{
    width: 60%;
}

.cabecalho-cta{
    width: 15%;
}

.cabecalho_cta-links{
    display: flex;
    justify-content: space-between;
}

.first-container{
    background-color: #F7FAFF;
    padding-top: 80px;
}

.cabecalho_menu-item-cta a{
    color: #fff;
    background-color: #8144e5;
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    transition: .5s;
}

.cabecalho_menu-item-cta a:hover{
    background-color: #7431E2;
    box-shadow: #7531e231 1px 1px 3px 2px;
    transition: .5s;
}

.cabecalho_menu-item-cta{
    list-style: none;
}

    /* Estilizando a navegação end*/

    /* Estilizando o texto e img do hero*/

.hero{
    display: flex;
    padding-top: 150px;
    justify-content: space-between;
}

.hero-text{
    width: 48%;
}

.hero-img{
    width: 52%;
}


.hero-img img{
    margin-top: -170px;
    width: 100%;

}

.hero-title{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 40px;
}

.title-roxo{
    color: #8144e5;
    text-decoration: underline;
}

.hero-paragraph{
    margin-bottom: 35px;
}

.btn-submit{
    border: none;
    margin-left: -15px;
    padding: 25px 40px;
    border-radius: 10px;
    width: 40%;
}
.btn-submit:hover{
    cursor: pointer;
}
.input-email{
    width: 60%;
    border: #ccc solid 1px;
    box-shadow: #7531e231 1px 1px 15px 2px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    padding: 25px 20px;
}

.hero-form input{
    margin-bottom: 25px;
}

.input-email:focus{
    border-color: rgb(56, 152, 236);
    outline: 0;
}

.card-request{
    display: flex;
}

.card-text{
    margin-left: 6px;
    font-weight: 600;
    font-size: 13px;
    color: #6C717D;
}

    /* Estilizando o texto e img do hero end*/

    /* Estilizando a secção dos logos*/

.brands{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    padding-bottom: 50px;

}

.brands-list{
    display: flex;
}

.brands_list-item{
    list-style: none;
}

.brands_list-item img{
    width: 180px;
}

.brands-title{
    font-weight: 900;

}
    /* Estilizando a secção dos logos end*/
/* Estilizando  a primeira secção end*/

/* Estilizando a segunda secção*/

.second-section{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../img/bg\ img-button.svg);
    background-position: center top;
    background-repeat: no-repeat;

}

.second_section-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
}

.last-content{
    margin-bottom: 0;
}

.second_section-img{
    width: 50%;
}

.second_section-img img{
    width: 100%;
}

.second_section-text{
    width: 50%;
}

.second_section-text p{
    margin: 15px 0;
}

.second_section-link{
    color: #7938E3;
    font-weight: 600;
    background-image: url(../img/seta.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 25px;
    padding-right: 30px;
}

/* Estilizando a segunda secção end*/

/* Estilizando a segunda secção*/

.third-section{
    background-color: #F7FAFF;
    padding-top: 150px;
    padding-bottom: 100px;

    background-image: url(../img/bg-img\ top.svg);
    background-position: center top;
    background-repeat: no-repeat;
}

.drop-process{
    background-color: #fff;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 1px #363f4e4b;
}

.drop_process-title{
    text-align: center;
    margin-bottom: 50px;
}

.drop_process-img-title{
    grid-column: span 2;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.drop_process-img-title img{
    position: absolute;
    right: auto;
    left: auto;
    bottom: 10px;

}


.drop_process-list{
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}

.drop_process-list li{
    list-style: none;
    font-size: 14px;
    font-weight: 900;
    width: 200px;
}

.drop_process-title{
    font-size: 32px;
    font-weight: 900;
}

.drop_process-list li img{
    width: 150px;
}

/* Estilizando a segunda secção end*/

/* Estilizando a quarta secção*/

.fourth-section{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../img/bg\ img-button.svg);
    background-position: center top;
    background-repeat: no-repeat;
}

.drop_title{
    text-align: center;
    margin-bottom: 30px;
}

.drop_business-list{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.drop_business-list li{
    padding-right: 30px;
}


.text-destaque{
    color: #8144e5;
    text-decoration: underline;
}

.drop-title{
    font-size: 18px;
    text-align: left;
}


.drop_text{
    text-align: left;
    color: #6f7582;
    line-height: 24px;
    margin-top: 10px;
}

/* Estilizando a quarta secção end*/

/* Estilizando a quinta secção end*/

.fifth-section{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;

    background-image: url(../img/Available\ Integrations\ -bg.svg);
    background-repeat: no-repeat;
    background-position: left 200px center;
    background-size: 660px;
   
}

.integration-text{
    width: 40%;

   /* background-image: url(../img/Available\ Integrations\ -bg.svg);
    background-repeat: no-repeat;
    background-position: left 200px center; */
}

.integration-title{
    font-size: 56px;
}

.integration-brands{
    width: 60%;

}

.integration-brands h3{
    font-size: 16px;
    margin: 10px 0 20px;
}

.integration-button{
    color: #8144e5;
    background-color: #e9e6ff;
    border: none;
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.integration_brands-list li{
    text-align: center;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 30px 1px #363f4e18;
    transition: .5s;
    background-color: #fff;

}

.integration_brands-list a{
    text-decoration: none;
}

.integration_brands-list li:hover{
    box-shadow: 0px 0px 30px 1px #363f4e3b;
}


.integration_brands-list{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    grid-template-areas: ". shopify wix" "woocommerce bigcommerce allscraper" "felex squarespace ecwid";
}

.shopify{
    grid-area: shopify;
}

.wix{
    grid-area: wix;
}

.woocommerce{
    grid-area: woocommerce;
}

.bigcommerce{
    grid-area: bigcommerce;
}

.allscraper{
    grid-area: allscraper;
}

.felex{
    grid-area: felex;
}

.squarespace{
    grid-area: squarespace;
}

.ecwid{
    grid-area: ecwid;
}


/* Estilizando a quinta secção end*/

/* Estilizando a sexta secção*/

.sixth-section{
    background-color: #F7FAFF;
    padding-top: 150px;
    padding-bottom: 100px;
    background-image: url(../img/bg-img\ top.svg);
    background-repeat: no-repeat;
    background-position: center top;

}
.testimonial{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 0 50px;
    border-radius: 10px;
    margin-bottom: 50px;
    text-decoration: none;
    transition: .5s;
    background-image: url(../img/bg-lines.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.testimonial:hover{
    box-shadow: 0px 0px 30px 1px #363f4e28;
    transition: .5s;
}

.testimonial-text{
    width: 40%;
    padding: 50px 0;
}

.testimonial-title{
    font-size: 25px;
    margin-bottom: 20px;
}

.testimonial-botao{
    cursor: pointer;
    padding: 20px 60px 20px 20px;
    border-radius: 8px;
    background-image: url(../img/seta.svg);
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 25px;
}

.testimonial-img{
   margin-top: -60px;
   max-width: 450px;
   box-sizing: border-box;
}

/* Estilizando a sexta secção end*/

/* Estilizando o rodape*/


.rodape{

    background-position: center top;
    background-repeat: no-repeat;
}

.first_section-rodape{
    padding-top: 100px;
    padding-bottom: 130px;
    background-color: #8B86F9;
    background-repeat: no-repeat;
    position: relative;
    background-image: url(../img/footer-img.png);
    background-size: 800px;
    background-position: center ;

}


.first_section-content{
    display: flex;
    flex-direction: column;
    align-items: center;
/*    background-image: url(../img/footer-img.png); */
    background-repeat: no-repeat;
    background-size: 2000px;
    background-position: center ;

}

.rodape_img-1{
    position: absolute;
    width: 200px;
    top: -18%;
}


.rodape_start{
    background-color: #E9E6FF;
    color: #8144E5;
    font-weight: 900;
    border-radius: 10px;
    padding: 2px 10px;
    letter-spacing: 1;
    font-size: 18px;
    margin-bottom: 45px;
}

.title-rodape{
    color: #fff;
    margin-bottom: 35px;
}


.rodape_first-content-img{
    display: flex;
    justify-content: space-between;
}


.rodape_img-2{
    position: absolute;
    width: 200px;
    left: 0;
    top: 45%;
}

.rodape_img-3{
    position: absolute;
    width: 150px;
    right: 0;
    top: 49%;
}

.second_section-rodape{
    background-color: 003757;
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.rodape_link-area{
    width: 25%;
}

.rodape-info{
    width: 30%;
}

.rodape-links{
    list-style: none;
}

.rodape-links li{
    margin-bottom: 20px;
}

.rodape-links a{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #ccd2f1;
    transition: .5s;
}

.rodape-links a:hover{
    color: #fff;
    transition: .5s;
}


.title-rodape2{
 color: #fff;
 font-size: 16px;
 font-weight: 700;
 margin-bottom: 20px;
}

.rodape-logo{
    margin-bottom: 20px;
   
}

.rodape-info p{
    color: #ccd2f1;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
}

.rodape-destaque{
    color: #fff;
    font-weight: 600;
}

.app{
    
    display: flex;

}

.app img{
    width: 150px;
    margin-right: 20px;
}

.copyright{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #031018;
}

.copyright small{
    color: #fff;
}

.copyright span{
    color: red;
    font-weight: 600;
    text-transform: uppercase;
}

.copyright span::after{
    content: ".";;
}


.rodape_section-last{
    background-color: #003757;
    padding-top: 50px;
    padding-bottom: 50px;
}


.rodape-contact{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.rodape-contact li{
    color: #9DA5B8;
    font-size: 14px;
}

.rodape-contact li:first-child{
    width: 22%;
}

.rodape-contact li:last-child{
    width: 30%;
}


.rodape-contact li img{
    margin-right: 20px;
    vertical-align: middle;
    transition: .5s;
}


.rodape-contact li img:hover{
    transform: translateY(-5px);
    transition: .5s;
}


.rodape-contact a{
    text-decoration: none;
    color: #9DA5B8;
    transition: .5s;
}

.rodape-contact a:hover{
    color: #fff;
    transition: .5s;
}
/* Estilizando rodape end*/